<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,230},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>fish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,268},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>fish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,230},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>fish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,152},{93,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,34}}</string>
                <key>sourceSize</key>
                <string>{93,34}</string>
            </dict>
            <key>fish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,188},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>fish6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>fish7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{303,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,106}}</string>
                <key>sourceSize</key>
                <string>{303,106}</string>
            </dict>
            <key>fish8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,190}}</string>
                <key>sourceSize</key>
                <string>{356,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{502,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b5023d6ebdde142b8dffa5e8c84774b:c31de4a2f42358c73e518b093c4b0f2d:14ac73c88c3019464dc0f7ed87dc5bc2$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
